<p id="notice"><%= notice %></p>


<div class="skill_index_container">
  <div class="container">
    <p id="notice"><%= notice %></p>
    <h1 class="text-center padding-bottom-30">ユーザー一覧</h1>
      <div class="row">
        <% @users.each do |user| %>
          <div class="col-md-4">
            <%= link_to user do %>
              <div class="skill_tags text-center">
                <h2><%= user.username %></h2>
                <div class="num_container">
                  <p>経歴</p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
  </div>
</div>
