// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_detail_container{
  h1{
    font-size: 50px;
  }

  .skill_container{
    padding-bottom: 20px;
  }

  .skil_count{
    border: 2px solid gray;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    float: left;
    .skill_num{
      text-align: center;
      padding-top: 7px;
    }
  }

  .skill_name{
    padding-top: 8px;
  }
}

.registration_h2{
  font-size: 50px;
  padding-bottom: 20px;
  font-weight: 100;
}

.user_registration_form_container{

  .forms{
    padding-top: 30px;
  }
}