<div class="skill_index_container">
  <div class="container">
    <p id="notice"><%= notice %></p>
    <h1 class="text-center padding-bottom-30">スキル一覧</h1>
      <div class="row">
        <% @skill_tags.each do |skill_tag| %>
          <div class="col-md-4">
            <%= link_to skill_tag do %>
              <div class="skill_tags text-center">
                <h2><%= skill_tag.name %></h2>
                <div class="num_container">
                  <p><%= skill_tag.users.to_a.count %>人が登録済み</p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
  </div>
</div>